
<div class="jumbotron text-center">
	<h1>Welcome to our app!</h1>
	
	<% if user_signed_in? %>
		<%= link_to "Pins",pins_path, class:"btn btn-primary btn-lg" %> 
	<% else %>
		<p>
			<%= link_to "Log in",new_user_session_path ,class:"btn btn-default btn-lg"%>
			<%= link_to "Sign up",new_user_registration_path,class:"btn btn-success btn-lg" %>
		</p>
	<% end %>
</div>

